body {
  margin: 0;
  font-family: 'Menlo, Monaco, Consolas, "Courier New", monospace !important';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232B2B;
}

code {
  font-family: 'Menlo, Monaco, Consolas, "Courier New", monospace !important';
}

head {
  background-color: #232B2B;
}